@{
    ViewData["Title"] = "Inicio";
}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron text-center">
                <h1 class="display-4">Bienvenido a Obras Shenlong</h1>
                <p class="lead">Construyendo un futuro mejor.</p>
                <hr class="my-4">
                <p>Somos expertos en construcción y remodelación de obras publicas y privadas. Nuestra misión es ofrecer servicios de alta calidad y satisfacer las necesidades de nuestros clientes.</p>
                @*                <a class="btn btn-primary btn-lg" href="#" id="ver-proyectos" role="button">Ver Proyectos</a>*@
            </div>
        </div>
    </div>

    <div id="trabajos-realizados" style="">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Trabajos Realizados</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src=" @Url.Content("~/Images/3ad78467-aec5-4073-a111-25e62a150087.jpg")" class="card-img-top" alt="Ejemplo de trabajo 1">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo 1</h5>
                        <p class="card-text">Living Ajedrecistico</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="@Url.Content("~/Images/3.png")" class="card-img-top" alt="Ejemplo de trabajo 2">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo 2</h5>
                        <p class="card-text">Bob Mar I guitarra.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="@Url.Content("~/Images/galles.jpg")" class="card-img-top" alt="Ejemplo de trabajo 3">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo 3</h5>
                        <p class="card-text">Pepas 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    document.getElementById('ver-proyectos').addEventListener('click', function () {
        document.getElementById('trabajos-realizados').style.display = 'block';
        document.getElementById('ver-proyectos').style.display = 'none';
    });
</script>*@