@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>En Contruct<span class="highlight-last">ar</span>, valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos la información que nos proporcionas. Al utilizar este sitio web, aceptas los términos de esta Política de Privacidad.</p>

    <h2>Información que Recopilamos</h2>
    <p>Recopilamos información personal cuando te registras en nuestro sitio, realizas un pedido, te suscribes a nuestro boletín informativo, respondes a una encuesta o completas un formulario.</p>

    <h2>Uso de la Información</h2>
    <p>La información que recopilamos puede ser utilizada de las siguientes maneras:</p>
    <ul>
        <li>Personalizar tu experiencia y responder a tus necesidades individuales.</li>
        <li>Mejorar nuestro sitio web.</li>
        <li>Mejorar el servicio al cliente y responder a tus solicitudes de servicio.</li>
        <li>Procesar transacciones.</li>
    </ul>

    <h2>Divulgación a Terceros</h2>
    <p>No vendemos, intercambiamos ni transferimos de ninguna manera tu información personal a terceros sin tu consentimiento.</p>

    <h2>Seguridad de la Información</h2>
    <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de tu información personal cuando realizas un pedido o accedes a tu información personal.</p>

    <h2>Consentimiento</h2>
    <p>Al utilizar nuestro sitio, aceptas nuestra Política de Privacidad.</p>

    <h2>Actualizaciones de la Política de Privacidad</h2>
    <p>Cualquier cambio en nuestra Política de Privacidad se publicará en esta página.</p>

    <p>
        Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dudes en
        <a asp-area="" asp-controller="Home" asp-action="Contacto">contactarnos</a>  </a>.
    </p>
</div>
