@model ProyectoObra.Domain.Entities.Empresa;

<h1>Form Edit</h1>

<form asp-action="Update" asp-controller="Empresa" method="post">
    <input asp-for="Id" type="number" hidden/>
    <div class="mb-3">
        <input asp-for="Descripcion" type="type" class="form-control" placeholder="Descripcion" />
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-info">Actualizar</button>
        <a asp-controller="Empresa" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>