@model CategoriaViewModel;

<h1>Crear</h1>

<form asp-action="Crear" asp-controller="Categoria" method="post">
    <div class="mb-3">
        <input asp-for="Descripcion" type="type" class="form-control" placeholder="Descripcion" />
        <span asp-validation-for="Descripcion" class="badge text-warning"></span>
    </div>  
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-controller="Categoria" asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>